*{
    margin: 0;
    padding: 0;
}

/* imagen de fondo */

#jugadores{
    position: absolute;
    width: 100vw;
    height: 100vh;
}

/* contenedor padre */

.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;   
    z-index: 100;
}

/* contenedor de la card */
.card-Contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 80%;
    z-index: 1000;
}

/* card */

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 500px;
    border-radius: 10px;
    box-shadow: -3px 3px rgba(250, 242, 5, 0.963),-8px 8px rgba(67, 252, 255, 0.609),2px -2px rgba(250, 242, 5, 0.963),7px -7px rgba(67, 252, 255, 0.415);
    overflow: hidden;
}

/* parrafo con mensaje de click en la card */

#texto{
    color: rgb(237, 193, 48);
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 20px;
    z-index: 1000;
}

/* tamaño de las imagenes en la card */

img{
    width: 398px;
    height: 100%;
}